In [ ]:
"""
ASSIGNMENT-1 Data Types
Please implement by using Python.
1.	Construct 2 lists containing all the available data types  (integer, float, string, complex and Boolean) and do the following..
a.	Create another list by concatenating above 2 lists
b.	Find the frequency of each element in the concatenated list.
c.	Print the list in reverse order.

"""

In [17]:
#1)
l1=[4,5,2.5,'Car','Train',6]
l2=[5,7,'carrot','Train']
l3=l1+l2
print(l3)

[4, 5, 2.5, 'Car', 'Train', 6, 5, 7, 'carrot', 'Train']
[4, 5, 2.5, 'Car', 'Train', 6, 5, 7, 'carrot', 'Train']

In [34]:
list=[1,2,3,3,4,'car','bus','train','car',5,6]
def CountFrequency(list):
 
    # Creating an empty dictionary
    freq = {}
    for item in list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
 
    for key, value in freq.items():
        print ("% s : % s"%(key, value))
CountFrequency(list)

1 : 1
2 : 1
3 : 2
4 : 1
car : 2
bus : 1
train : 1
5 : 1
6 : 1

In [19]:
#Reverse order
print("Original List ",l3)
print("Length of the list:",len(l3))
l3.reverse()
print(l3)
#OR
print(l3[-10:])

Original List  [4, 5, 2.5, 'Car', 'Train', 6, 5, 7, 'carrot', 'Train']
Length of the list: 10
['Train', 'carrot', 7, 5, 6, 'Train', 'Car', 2.5, 5, 4]
['Train', 'carrot', 7, 5, 6, 'Train', 'Car', 2.5, 5, 4]
Original List  [4, 5, 2.5, 'Car', 'Train', 6, 5, 7, 'carrot', 'Train']
Length of the list: 10
['Train', 'carrot', 7, 5, 6, 'Train', 'Car', 2.5, 5, 4]
['Train', 'carrot', 7, 5, 6, 'Train', 'Car', 2.5, 5, 4]

In [20]:
"""

2.	Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)
a.	Find the common elements in above 2 Sets.
b.	Find the elements that are not common.
c.	Remove element 7 from both the Sets.

"""

'\n\n2.\tCreate 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)\na.\tFind the common elements in above 2 Sets.\nb.\tFind the elements that are not common.\nc.\tRemove element 7 from both the Sets.\n\n'

'\n\n2.\tCreate 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)\na.\tFind the common elements in above 2 Sets.\nb.\tFind the elements that are not common.\nc.\tRemove element 7 from both the Sets.\n\n'

In [21]:
s1={1,2,3,4,5,6,7,8,9,10}
s2={5,6,7,8,9,10,11,12,13,14,15}  
#set=range(5,16)
#s2=list(set)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
print(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [23]:
#	Find the common elements in above 2 Sets.
print(s1&s2)

{5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}

In [24]:
#Find the elements that are not common.
print(s1^s2)

{1, 2, 3, 4, 11, 12, 13, 14, 15}
{1, 2, 3, 4, 11, 12, 13, 14, 15}

In [25]:
#Remove element 7 from both the Sets.
s1.remove(7)
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [26]:
"""
3.	Create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.
a.	Print only state names from the dictionary.
b.	Update another country and it’s covid-19 cases in the dictionary.

"""

'\n3.\tCreate a data dictionary of 5 states having state name as key and number of covid-19 cases as values.\na.\tPrint only state names from the dictionary.\nb.\tUpdate another country and it’s covid-19 cases in the dictionary.\n\n'

'\n3.\tCreate a data dictionary of 5 states having state name as key and number of covid-19 cases as values.\na.\tPrint only state names from the dictionary.\nb.\tUpdate another country and it’s covid-19 cases in the dictionary.\n\n'

In [27]:
dict={'TamilNadu':1234,"Karnataka":1567,"Hyderabad":1678,"Telegana":1298,"Kerala":1876}

In [28]:
dict.keys()

dict_keys(['TamilNadu', 'Karnataka', 'Hyderabad', 'Telegana', 'Kerala'])

dict_keys(['TamilNadu', 'Karnataka', 'Hyderabad', 'Telegana', 'Kerala'])

In [29]:
dict.values()

dict_values([1234, 1567, 1678, 1298, 1876])

dict_values([1234, 1567, 1678, 1298, 1876])

In [30]:
dict.update({"Andhra":1672})
dict.items()

dict_items([('TamilNadu', 1234), ('Karnataka', 1567), ('Hyderabad', 1678), ('Telegana', 1298), ('Kerala', 1876), ('Andhra', 1672)])

dict_items([('TamilNadu', 1234), ('Karnataka', 1567), ('Hyderabad', 1678), ('Telegana', 1298), ('Kerala', 1876), ('Andhra', 1672)])