In [ ]:
"""
MODULE-2 OPERATORES
Please implement by using Python
1.	A. Write an equation which relates   399, 543 and 12345 
B.  “When I divide 5 with 3, I got 1. But when I divide -5 with 3, I got -2”—How would you justify it.
       2.  a=5,b=3,c=10.. What will be the output of the following:
              A. a/=b
              B. c*=5  
       3. A. How to check the presence of an alphabet ‘s’ in word “Data Science” .
            B. How can you obtain 64 by using numbers 4 and 3 .


"""

In [ ]:
# 12345/543 has a quotient of 22 and its remainder is 399
"""
if num1 = 12345 ;  num2= 543 and rem= 399

then num1= 22num2 + rem
"""

num1=12345
num2,rem=543,399
num=(22*543)+rem
if (num==num1):
  print("Valid equation")

Valid equation

In [4]:
#“When I divide 5 with 3, I got 1. But when I divide -5 with 3, I got -2”—How would you justify it.
quo=5//3
print(quo)
quo2=-(5%3)
print(quo2)

1
-2

In [ ]:
"""
2
a=5,b=3,c=10.. What will be the output of the following:
              A. a/=b
              B. c*=5
"""

a,b,c=5,3,10
a=a/b
print(a)
c=c*5
print(c)

1.6666666666666667
50

In [ ]:
"""
 3. A. How to check the presence of an alphabet ‘s’ in word “Data Science” .
            B. How can you obtain 64 by using numbers 4 and 3 .
"""

word='Data Science'
print('S' in word)
print(pow(4,3)) #OR
print(4**3)

True
64
64